---
# https://kubernetes.io/docs/reference/config-api/kubeadm-config.v1beta4/#kubeadm-k8s-io-v1beta4-ClusterConfiguration
apiVersion: kubeadm.k8s.io/v1beta4
kind: InitConfiguration
{{ kubernetes.init_configuration | to_nice_yaml }}
---
apiVersion: kubeadm.k8s.io/v1beta4
kind: ClusterConfiguration
{{ kubernetes.cluster_configuration | to_nice_yaml }}
